<div id="logo">
    <div style="margin-top:70px" class="whitetitle">ITI</div>
</div>
<div id="topheader">
    <div align="left" class="bodytext">
        <br />
        <strong>ITI Students System</strong><br />
        Mansura University<br />
        Mansura-Egypt<br />
        Mobile: 050-2520202<br />
        StudentsSystem@ITI.gov.eg
    </div>
    <div id="toplinks" class="smallgraytext">
        <a href="#">Home</a> | <a href="#">Sitemap</a> | <a href="#">Contact Us</a>
    </div>
</div>
<div id="menu">
    <div align="right" class="smallwhitetext" style="padding:9px;">
        <a routerLink="/home" routerLinkActive="active1">Home</a> |
        <a routerLink="/aboutus" routerLinkActive="active1">About Us</a> |
        <a routerLink="/contact" routerLinkActive="active1" >Contact Us</a>
    </div>
</div>
<!-- <div id="submenu">
    <div align="right" class="smallgraytext" style="padding:9px;">
        <a href="#">Submenu 1</a> | <a href="#">Submenu 2</a> | <a href="#">Submenu 3</a> | <a href="#">Submenu 4</a> | <a href="#">Submenu 5</a> | <a href="#">Submenu 6</a>
    </div>
</div> -->
